<!doctype html>
<html lang="en">
<title>{% block title %}{% endblock %}</title>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <!-- Social icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/favicon-32x32.png">
    {% block head %}
    {% endblock %}
  </head>

<body>
  <div class="container-fluid top-block">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom">
      <a class="navbar-brand" href="/">Phil Labrum</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link nav-link-fade-up" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link nav-link-fade-up" href="/#portfolio">Portfolio</a></li>
          <li class="nav-item"><a class="nav-link nav-link-fade-up" href="/#experience">Experience</a></li>
          <!-- <li class="nav-item"><a class="nav-link nav-link-fade-up" href="#">Blog</a></li> -->
          <li class="nav-item"><a class="nav-link nav-link-fade-up" href="/#contact">Contact</a></li>
        </ul>
      </div>

    </nav>
    {% block headline %}{% endblock %}
  </div>
</div>

  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">{% block footer %}{% endblock %}</div>

<!-- Contace section -->
<a name="contact"></a>
<div class="row"><div class="col-centered section-title-block darken"><H1 class="section-title">Contact Me</H1></div></div>

<div class="container-fluid darken" style="height: 600">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span style="margin-right: auto">{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="container contact-box">
  <form method="post">
    <div class="row">
      <div class="col">
        {{ form.csrf_token }}
        {{ form.firstname(class="form-box", placeholder="First Name") }}
        {{ form.lastname(class="form-box", placeholder="Last Name") }}
        {{ form.email(class="form-box", placeholder="Email") }}
      </div>
      <div class="col">
        {{ form.body(class="form-box form-msg", placeholder="Write your message here!") }}
        <div class="row">
            <div class="captcha">{{ form.recaptcha }}</div>
            {{ form.submit(class="btn btn-dark contact-btn")}}
        </div>
      </div>
      </div>
  </form>
  </div>
</div>


</body>
</html>

<script type="text/javascript">
$(window).scroll(function(){
  $('nav').toggleClass('scrolled', $(this).scrollTop() > 100);
});
</script>