{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}

{% block headline %}
  <div class="row">
    <div class="col-centered headline-box darken">
        <h1 class="headline-message">Portfolio Coming Soon!</h1>
    </div>
  </div>

  <div class="container">
      <nav class="nav navbar-expand-md justify-content-center icon-bar">
        <ul class="nav navbar-nav darken icon-row">
          <li class="nav-item"><a href="https://github.com/plabrum" target="_blank" title="Github"><i class="fa fa-github"></i></a></li>
          <li class="nav-item"><a href="https://www.linkedin.com/in/phil-labrum-profile/" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
          <li class="nav-item"><a href="#contact" title="Email"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </nav>
  </div>  
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
{% endblock %}