{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block head %}
{% endblock %}

{% block headline %}
  <div class="row">
    <div class="col-centered headline-box darken">
        <h1 class="headline-message">Project</h1>
        <a class="spotlight-title" href="#{{spotlight.title}}">{{spotlight.title}}</a>
        <img class="spotlight-image" src={{ spotlight.image_loc }}>
    </div>
  </div>

  <div class="container">
      <nav class="nav navbar-expand-md justify-content-center icon-bar">
        <ul class="nav navbar-nav darken icon-row">
          <li class="nav-item"><a href="https://github.com/plabrum" target="_blank" title="Github"><i class="fa fa-github"></i></a></li>
          <li class="nav-item"><a href="https://www.linkedin.com/in/phil-labrum-profile/" target="_blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
          <li class="nav-item"><a href="#contact" title="Email"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </nav>
  </div>  
{% endblock %}

{% block content %}
<!-- About me strip -->
<div class="row"><div class="col-centered section-title-block darken"><H1 class="section-title">About Me</H1></div></div>
<div class="container-fluid site-block">
  <div class="row">
    <div class="col-md-3"> 
      <img class="headshot" src="static/phil.png">
    </div>
    <div class="col-md-8" style="margin: 30px">
      <h4> all the writing about me blah de blah de blah </h4>
    </div>
  </div>
</div>

<!-- Project section -->
<a name="portfolio"></a>
<div class="row"><div class="col-centered section-title-block darken"><H1 class="section-title">Portfolio</H1></div></div>
  

<div class="container-fluid site-block">
    {% for project in projects %}
      <a name="{{project.title}}"></a>
      <div class="row cards">
        <div class=col-md-3>
          <img class="project-image" src="{{project.image_loc}}">
        </div>

        <div class="col-md-8">

          <div clas="row">
            <div class="col-md-10" ><H1>{{project.title}}</H1></div>
            <div cass="col-md-2"><h5>{{project.date}}</h5></div>
          </div>

          <div class="row">
          <div class="col">
            <p class="project-description">{{project.description}}</p> 
          </div>
          </div>

        </div>

      </div> 
    {% endfor %}
</div>

<!-- Experience section -->
<a name="experience"></a>
<div class="row"><div class="col-centered section-title-block darken"><H1 class="section-title">Experience</H1></div></div>
<div class="container-fluid">  
        {% for experience in experiences %}
      <div class="row cards">

        <div class=col-md-3>
          <img class="experience-image" src="{{experience.image_loc}}">
        </div>

        <div class="col-md-8">

          <div clas="row">
            <div class="col-md-10" ><H1>{{experience.title}}</H1></div>
            <div cass="col-md-2"><h5>{{experience.date}}</h5></div>
          </div>

          <div class="row">
          <div class="col">
            <p class="experience-description">{{experience.description}}</p> 
          </div>
          </div>

        </div>

      </div> 
    {% endfor %}
</div>

{% endblock %}

{% block footer %}
{% endblock %}