@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 m-2 border border-custom-t2 rounded-full
       uppercase text-xs tracking-widest text-custom-t2 transition-all
        hover:bg-custom-t2 hover:text-custom-t3;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-show::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-cov::-webkit-scrollbar {
  visibility: hidden;
}

:root {
  /* Your default theme */
  --bg1: #f0ddbe;
  --bg2: #f4ecdf;
  --bg3: #5d6b75;
  --bg4: #242424; /*used for footer */
  --t1: #121212;
  --t2: rgb(45, 102, 155); /* used for buttons, icons, etc */
  --t3: rgb(228, 238, 255); /*light text */
  --t4: rgb(158, 158, 158); /* used in footer text*/
  --t5: rgb(108, 161, 248);
  --t6: rgb(108, 161, 248);
  /* --accent: #fba92c; */
  --active: #60a5fa;
  --inactive: #1f2937;
}

[data-theme="dark"] {
  --bg1: rgb(36, 36, 36);
  --bg2: #403f3c;
  --bg3: #d6d1ca;
  --bg4: #1b1b1d; /*used for footer */
  --t1: #ffffff;
  --t2: rgb(200, 202, 189); /* used for buttons, icons, etc */
  --t3: rgb(15, 15, 15); /*dark text */
  --t4: rgb(87, 124, 183);
  --t5: rgb(108, 161, 248);
  --t6: rgb(108, 161, 248);
}
