@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .heroButton {
    @apply px-6 py-2 m-2 border border-custom-t2 rounded-full
       uppercase text-xs tracking-widest text-custom-t2 transition-all
        hover:bg-custom-t2 hover:text-custom-t3;
  }
} */

.grecaptcha-badge {
  visibility: hidden;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* .scrollbar-show::-webkit-scrollbar {
  display: none;
}

.scrollbar-cov::-webkit-scrollbar {
  visibility: hidden;
} */

:root {
  /* Your default theme */
  --header: #d2d2d264;
  --bg1: #f8f8f8; /* Main background theme */

  /* --bg1: #f0ddbe; Main background theme */
  --bg2: #084c61;
  --bg3: #f1f1f1; /* Used for article background */
  --bg4: #323031; /*used for footer */

  --t1: #121212;
  --t2: #084c61; /* used for buttons, icons, etc */
  /* --t2: rgb(45, 102, 155); used for buttons, icons, etc */
  --t3: #ffff; /*light text */
  --t4: #888585; /* used in footer text*/

  /* --accent: #fba92c; */
  --accent: #ffc857;

  --a: #177e89;
  --b: #084c61;
  --c: #db3a34;
  --d: #ffc857;
  --e: #323031;
}

[data-theme="dark"] {
  --header: #4040405d;
  --bg1: #1b1a1a;
  --bg2: #dfdfdf;
  --bg3: #2b2a2a; /* Used for article background */
  --bg4: #060606; /*used for footer */
  --t1: #ffffff;
  --t2: #dfdfdf; /* used for buttons, icons, etc */
  --t3: #000000; /*dark text */
  --t4: #a1a1a1;
  --accent: #e76f51;
}
